<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />        
        <title>Corona Scrapper</title>
    </head>
    <body style ="height: 100 vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;margin : 0;
    padding : 0;
    padding-top: 5%;
    box-sizing : border-box;">
    
        <img src="/static/pic1.jpg" alt="pic1" width="200" height="200">
        <div class="location">
            <h1 class="location-timezone">Corona Scrapper</h1>
            <p>This Project aims at getting real time information regarding corona cases in different countries.</p>
        </div>
        <div class="temperature" style="color: white; align-content: center">
            <h1>Toggle on the following links to Stay updated</h1>
            <h3 style="color: white;">Visit 127.0.0.1:5000 to Know Global Cases</h3> 
            <h3 style="color: white;">Visit 127.0.0.1:5000/india For Indian Cases</h3>
            <h3 style="color: white;">Visit 127.0.0.1:5000/x For Other Countries where x is country name</h3>
        </div>
    <br>
    <br>
        <img src="/static/pic2.png" alt="pic2" width="500" height="300">
        <div class="valid" style="color: white; align-content: center">
                
            <h3>Few Valid Country Names For variable x above</h3>
            <ul>
                <li>US</li>
                <li>India</li>
                <li>Iran</li>
                <li>Iraq</li>
                <li>Pakistan</li>
                <li>China</li>
                <li>Peru</li>
                <li>Brazil</li>
                <li>Bhutan</li>
                <li>Chile</li>
                <li>Argentina</li>
                <li>Nepal</li>
                <li>Spain</li>
                <li>germany</li>
                <li>France</li>
                <li>UK</li>
                <li>Australia</li>
                <li>Switzerland</li>
                <li>saudi-arabia</li>
                <li>Bangladesh</li>
                <li>Turkey</li>
                <li>Mexico</li>
                <li>Canada</li>
                <li>south-africa</li>
                <li>Qatar</li>
                <li>Colombia</li>
                <li>Belgium</li>
                <li>Belarus</li>
                <li>Sweden</li>
                <li>Kuwait</li>
                <li>Singapore</li>
                <li>Portugal</li>
                <li>Ukraine</li>
                <li>Iraq</li>
                <li>Poland</li>
                <li>Panama</li>
                <li>Ireland</li>
                <li>Armenia</li>
                <li>Japan</li>
                <li>Serbia</li>
                <li>south-korea</li>
                <li>Finland</li>
                <li>Venezuela</li>
                <li>Greece</li>
                <li>Thailand</li>
                <li>Somalia</li>
                <li>Maldives</li>
                <li>Lithuania</li>
                <li>new-zealand</li>
                <li>sri-lanka</li>
                <li>Slovenia</li>
                <li>Paraguay</li>
                <li>state-of-palestine</li>
                <li>cyprus</li>
                <li>Yemen</li>
                <li>Georgia</li>
                <li>Uganda</li>
                <li>Jamaica</li>
                <li>Libya</li>


            </ul>
        </div>
        
    </body>
</html>
